[submodule "extern/cgmath"]
	path = extern/cgmath
	url = https://github.com/rustgd/cgmath
[submodule "extern/downcast-rs"]
	path = extern/downcast-rs
	url = https://github.com/marcianx/downcast-rs
[submodule "extern/uuid"]
	path = extern/uuid
	url = https://github.com/uuid-rs/uuid
[submodule "extern/serde"]
	path = extern/serde
	url = https://github.com/serde-rs/serde
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/serde-rs/json
[submodule "extern/image"]
	path = extern/image
	url = https://github.com/image-rs/image
[submodule "extern/ttf-parser"]
	path = extern/ttf-parser
	url = https://github.com/RazrFalcon/ttf-parser
[submodule "extern/xml-rs"]
	path = extern/xml-rs
	url = https://github.com/netvl/xml-rs
[submodule "extern/gltf"]
	path = extern/gltf
	url = https://github.com/gltf-rs/gltf
[submodule "extern/egui"]
	path = extern/egui
	url = https://github.com/emilk/egui
[submodule "extern/rand"]
	path = extern/rand
	url = https://github.com/rust-random/rand
[submodule "extern/rust-bindgen"]
	path = extern/rust-bindgen
	url = https://github.com/rust-lang/rust-bindgen
[submodule "extern/pyo3"]
	path = extern/pyo3
	url = https://github.com/PyO3/pyo3
[submodule "extern/erased-serde"]
	path = extern/erased-serde
	url = https://github.com/dtolnay/erased-serde
[submodule "extern/wgpu"]
	path = extern/wgpu
	url = https://github.com/gfx-rs/wgpu
[submodule "extern/raw-window-handle"]
	path = extern/raw-window-handle
	url = https://github.com/rust-windowing/raw-window-handle
[submodule "extern/naga"]
	path = extern/naga
	url = https://github.com/gfx-rs/naga
