[submodule "extern/Vulkan-Docs"]
	path = extern/Vulkan-Docs
	url = https://github.com/KhronosGroup/Vulkan-Docs
[submodule "extern/Vulkan-Headers"]
	path = extern/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "extern/cgmath"]
	path = extern/cgmath
	url = https://github.com/rustgd/cgmath
[submodule "extern/downcast-rs"]
	path = extern/downcast-rs
	url = https://github.com/marcianx/downcast-rs
[submodule "extern/uuid"]
	path = extern/uuid
	url = https://github.com/uuid-rs/uuid
[submodule "extern/serde"]
	path = extern/serde
	url = https://github.com/serde-rs/serde
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/serde-rs/json
[submodule "extern/typetag"]
	path = extern/typetag
	url = https://github.com/dtolnay/typetag
[submodule "extern/image"]
	path = extern/image
	url = https://github.com/image-rs/image
[submodule "extern/ttf-parser"]
	path = extern/ttf-parser
	url = https://github.com/RazrFalcon/ttf-parser
[submodule "extern/xml-rs"]
	path = extern/xml-rs
	url = https://github.com/netvl/xml-rs
[submodule "extern/gltf"]
	path = extern/gltf
	url = https://github.com/gltf-rs/gltf
[submodule "extern/egui"]
	path = extern/egui
	url = https://github.com/emilk/egui
[submodule "extern/rust-cpython"]
	path = extern/rust-cpython
	url = https://github.com/dgrunwald/rust-cpython
[submodule "extern/rand"]
	path = extern/rand
	url = https://github.com/rust-random/rand
[submodule "extern/rust-bindgen"]
	path = extern/rust-bindgen
	url = https://github.com/rust-lang/rust-bindgen
[submodule "extern/syn"]
	path = extern/syn
	url = https://github.com/dtolnay/syn
[submodule "extern/quote"]
	path = extern/quote
	url = https://github.com/dtolnay/quote
