name: "Deploy on Github Pages"

on:
  workflow_run:
    workflows: ["Rust"]
    branches: [master, instancing_rework]
    types:
      - completed

jobs:
  final-deploy:
    runs-on: ubuntu-latest
    
    steps:
      #- name: "Wait previous workflow run to be successful"
      #  uses: ahmadnassri/action-workflow-run-wait@v1
      
      - name: "Checkout repository"
        uses: actions/checkout@v4
      
      - name: "Download artifact"
        uses: actions/download-artifact@v4
        with:
          name: output-binaries
          path: output/
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Install zip"
        uses: montudor/action-zip@v1

      - name: "Zip INOX"
        run: |
          cd "./output/"
          zip -qq -v -r INOX.zip INOX/    
          cd .. 

      - name: "Prepare for copy on Github Pages"
        run: |
          cd "./output/"
          mkdir -p "./release/"
          mkdir -p "./release/docs/"
          mkdir -p "./release/docs/web/"
          cp -r "./web" "./release/docs/"    
          cp "./INOX.zip" "./release/INOX.zip"     
          cd ..

      - name: "Deploy zip on Github Pages"
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output/release  # default: public
          keep_files: true
