name: "Rust"

on:
  push:
    branches: [ master, instancing_rework ]
    tags:
      - 'v*.*.*'
  pull_request:
    branches: [ master, instancing_rework ]
    tags:
      - 'v*.*.*'
    
env:
  CARGO_TERM_COLOR: always
  CARGO_TARGET_DIR: ./crates/target
  RUSTFLAGS: '--cfg=web_sys_unstable_apis' # required for webgpu
  
jobs:
  build-desktop:
    name: "Build Desktop on OS: ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest

    steps:
      - name: "Add rustflags to env"
        run: echo RUSTFLAGS=${RUSTFLAGS} >> $GITHUB_ENV
        shell: bash

      - name: "Checkout repository and submodules"
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: "Install LLVM and Clang" # required for bindgen to work, see https://github.com/rust-lang/rust-bindgen/issues/1797
        uses: KyleMayes/install-llvm-action@v2
        if: ${{ matrix.os }} == 'windows-latest'
        with:
          version: "13.0"
          directory: ${{ runner.temp }}/llvm

      - name: "Set LIBCLANG_PATH"
        run: echo "LIBCLANG_PATH=$((gcm clang).source -replace "clang.exe")" >> $env:GITHUB_ENV
        if: ${{ matrix.os }} == 'windows-latest'

      - name: "Creating folders"
        run: |
          mkdir -p "./crates/target/"
          mkdir -p "./output/"
          mkdir -p "./output/INOX/"
          mkdir -p "./output/INOX/bin/"
          mkdir -p "./output/INOX/bin/data_raw/"
        shell: bash
          
      - name: "Enable use of cache"
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ./crates/target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: "Install stable toolchain"
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: stable
          override: true
          components: rustfmt, clippy
          
      - name: "Update repos"
        run: |
          cd crates
          cargo update
          cd ..
        shell: bash
           
      - name: "Run cargo clippy check"
        uses: actions-rs/cargo@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          command: clippy
          args: --manifest-path ./crates/Cargo.toml --no-deps -- -D warnings

      - name: "Run cargo build workspace release"
        uses: actions-rs/cargo@v1
        with:
          command: build 
          args: --manifest-path ./crates/Cargo.toml --release

      - name: "Copy and rename inox_blender dll into pyd"
        run: cp -f ./crates/target/release/inox_blender.dll ./crates/blender/inox_blender/INOX/inox_blender.pyd
        if: ${{ matrix.os }} == 'windows-latest'
        shell: bash

      - name: "Copy inox_blender in INOX"
        run: cp -r -f "./crates/blender/inox_blender/INOX/" "./output/"
        shell: bash
          
      - name: "Copy inox_viewer configs in output"
        run: |
          mkdir -p "./output/INOX/bin/data_raw/config/"
          mkdir -p "./output/INOX/bin/data_raw/config/inox_viewer/"
          cp -r -f "./data_raw/config/inox_viewer/" "./output/INOX/bin/data_raw/config/"
        shell: bash

      - name: "Copy pipelines in output"
        run: |
          mkdir -p "./output/INOX/bin/data_raw/pipelines/"
          cp -r -f "./data_raw/pipelines/" "./output/INOX/bin/data_raw/"
        shell: bash

      - name: "Copy shaders in output"
        run: |
          mkdir -p "./output/INOX/bin/data_raw/shaders/"
          cp -r -f "./data_raw/shaders/" "./output/INOX/bin/data_raw/"
        shell: bash

      - name: "Copy .dll in output"
        run: cp -f ./crates/target/release/*.dll ./output/INOX/bin/
        if: ${{ matrix.os }} == 'windows-latest'
        shell: bash
          
      - name: "Copy .exes in output"
        run: cp -f ./crates/target/release/*.exe ./output/INOX/bin/
        if: ${{ matrix.os }} == 'windows-latest'
        shell: bash

      - name: "Copy binaries in output"
        run: |
          find ./crates/target/release/ -maxdepth 1 -type f -executable -not -name "*.so" -not -name "*.d" -not -name "*.rlib" -exec cp -f {} ./output/INOX/bin/ \;
        if: ${{ matrix.os }} == 'ubuntu-latest'
        shell: bash

      - name: "Clearing data folder"
        continue-on-error: true
        run:  |
             rm -r "./data/"
        shell: bash

      - name: "Executing binarizer (Windows)"
        run:  ./crates/target/release/inox_launcher.exe -plugin inox_binarizer -platform pc
        if: ${{ matrix.os }} == 'windows-latest'
        shell: bash

      - name: "Executing binarizer (Linux)"
        run:  ./crates/target/release/inox_launcher -plugin inox_binarizer -platform pc
        if: ${{ matrix.os }} == 'ubuntu-latest'
        shell: bash

      - name: "Upload artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: output-binaries-${{ matrix.os }}
          path: output/

  build-web:
    name: "Build Web on OS: ubuntu-latest"
    runs-on: ubuntu-latest
    steps:
      - name: "Add rustflags to env"
        run: echo RUSTFLAGS=${RUSTFLAGS} >> $GITHUB_ENV
        shell: bash

      - name: "Checkout repository and submodules"
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: "Creating folders"
        run: |
          mkdir -p "./crates/target/"
          mkdir -p "./output/"
          mkdir -p "./output/web/"
          mkdir -p "./output/INOX/"
          mkdir -p "./output/INOX/bin/"
          mkdir -p "./output/INOX/bin/data_raw/"
        shell: bash

      - name: "Enable use of cache"
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ./crates/target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: "Install stable toolchain"
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: "Add rust target wasm32"
        run: rustup target add wasm32-unknown-unknown

      - name: "Update repos"
        run: |
          cd crates
          cargo update
          cd ..
        shell: bash

      - name: "Run cargo build workspace release (Native)"
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --manifest-path ./crates/Cargo.toml --release

      - name: "Run cargo build workspace release wasm32"
        uses: actions-rs/cargo@v1
        with:
          command: build 
          args: --manifest-path ./crates/Cargo.toml --release --target wasm32-unknown-unknown
    
      - name: "Install wasm bindgen"
        run: cargo install -f wasm-bindgen-cli
        shell: bash
        
      - name: "Run wasm bindgen"
        run: wasm-bindgen ./crates/target/wasm32-unknown-unknown/release/inox_launcher.wasm --out-dir ./output/web/ --target web --no-typescript --no-demangle --keep-lld-exports --split-linked-modules
        shell: bash

      - name: "Copy wasm in web"
        run: cp -f "./crates/target/wasm32-unknown-unknown/release/inox_launcher.wasm" "./output/web/inox_launcher.wasm"
        shell: bash

      - name: "Copy wasm32 in output"
        run: cp -f "./web/*.html" "./output/web/"
        shell: bash

      - name: "Clearing data folder"
        continue-on-error: true
        run:  |
             rm -r "./data/"
             rm -r "./output/web/data/"
        shell: bash

      - name: "Executing binarizer (Linux for Web)"
        run:  ./crates/target/release/inox_launcher -plugin inox_binarizer -platform web
        shell: bash

      - name: "Copy data binarized in output for wasm"          
        run: |
             mkdir -p "./output/web/data/" 
             mkdir -p "./output/web/data/web/" 
             cp -r -f "./data/web/" "./output/web/data/"
        shell: bash
          
      - name: "Upload artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: output-web
          path: output/web/
