name: "Rust Web"

on:
  workflow_run:
    workflows: ["Rust Windows"]
    branches: [ master, instancing_rework ]
    types:
      - completed

env:
  CARGO_TERM_COLOR: always
  CARGO_TARGET_DIR: ./crates/target
  RUSTFLAGS: '--cfg=web_sys_unstable_apis' # required for webgpu

jobs:
  build-web:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
          submodules: recursive

      - name: "Creating folders"
        run: |
          mkdir -p "./crates/target/"
          mkdir -p "./output/"
          mkdir -p "./output/web/"

      - name: "Enable use of cache"
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ./crates/target/
          key: ${{ runner.os }}-cargo-web-${{ hashFiles('**/Cargo.lock') }}

      - name: "Download artifact"
        uses: actions/download-artifact@v4
        with:
          name: output-binaries
          path: output/
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Install stable toolchain"
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: wasm32-unknown-unknown
          components: rustfmt, clippy

      - name: "Update repos"
        run: |
          cd crates
          cargo update
          cd ..

      - name: "Run cargo test inox_core"
        run: cargo test -p inox_core --manifest-path ./crates/Cargo.toml

      - name: "Run cargo build workspace release wasm32"
        run: cargo build --manifest-path ./crates/Cargo.toml --release --target wasm32-unknown-unknown

      - name: "Install wasm bindgen"
        run: cargo install -f wasm-bindgen-cli

      - name: "Run wasm bindgen"
        run: wasm-bindgen ./crates/target/wasm32-unknown-unknown/release/inox_launcher.wasm --out-dir ./output/web/ --target web --no-typescript --no-demangle --keep-lld-exports --split-linked-modules

      - name: "Copy wasm32 in output"
        run: cp ./web/*.html ./output/web/

      - name: "Upload artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: output-binaries
          path: output/
