name: "Rust"

on:
  push:
    branches: [ master, instancing_rework ]
    tags:
      - 'v*.*.*'
  pull_request:
    branches: [ master, instancing_rework ]
    tags:
      - 'v*.*.*'
    
env:
  CARGO_TERM_COLOR: always
  CARGO_TARGET_DIR: ./crates/target
  RUSTFLAGS: '--cfg=web_sys_unstable_apis' # required for webgpu
  
jobs:
  check:
    name: "Build on OS: ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-latest
          - macOS-latest
          - ubuntu-latest

    steps:
      - name: "Add rustflags to env"
        run: echo RUSTFLAGS=${RUSTFLAGS} >> $GITHUB_ENV

      - name: "Checkout repository and submodules"
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: "Install LLVM and Clang" # required for bindgen to work, see https://github.com/rust-lang/rust-bindgen/issues/1797
        uses: KyleMayes/install-llvm-action@v2
        if: ${{ matrix.os }} == 'windows-latest'
        with:
          version: "13.0"
          directory: ${{ runner.temp }}/llvm

      - name: "Set LIBCLANG_PATH"
        run: echo "LIBCLANG_PATH=$((gcm clang).source -replace "clang.exe")" >> $env:GITHUB_ENV
        if: ${{ matrix.os }} == 'windows-latest'

      # Add Linux dependencies for X11 if on ubuntu
      - name: "Install Linux Dependencies"
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libx11-dev libasound2-dev libudev-dev

      - name: "Creating folders"
        run: |
          mkdir -p "./crates/target/"
          mkdir -p "./output/"
          mkdir -p "./output/INOX/"
          mkdir -p "./output/INOX/bin/"
          mkdir -p "./output/INOX/bin/data_raw/"
          
      - name: "Enable use of cache"
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ./crates/target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: "Install stable toolchain"
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt, clippy
          
      - name: "Update repos"
        run: |
          cd crates
          cargo update
          cd ..
           
      - name: "Run cargo clippy check"
        run: cargo clippy --manifest-path ./crates/Cargo.toml --no-deps -- -D warnings

      - name: "Run cargo build workspace release"
        run: cargo build --manifest-path ./crates/Cargo.toml --release

      - name: "Copy and rename inox_blender dll into pyd (Windows)"
        if: runner.os == 'Windows'
        run: cp -Force ./crates/target/release/inox_blender.dll ./crates/blender/inox_blender/INOX/inox_blender.pyd

      - name: "Copy inox_blender in INOX (Windows)"
        if: runner.os == 'Windows'
        run: cp -r -Force "./crates/blender/inox_blender/INOX/" "./output/"
          
      - name: "Copy inox_viewer configs in output"
        shell: bash
        run: |
          mkdir -p "./output/INOX/bin/data_raw/config/"
          mkdir -p "./output/INOX/bin/data_raw/config/inox_viewer/"
          cp -r "./data_raw/config/inox_viewer/" "./output/INOX/bin/data_raw/config/"

      - name: "Copy pipelines in output"
        shell: bash
        run: |
          mkdir -p "./output/INOX/bin/data_raw/pipelines/"
          cp -r "./data_raw/pipelines/" "./output/INOX/bin/data_raw/"

      - name: "Copy shaders in output"
        shell: bash
        run: |
          mkdir -p "./output/INOX/bin/data_raw/shaders/"
          cp -r "./data_raw/shaders/" "./output/INOX/bin/data_raw/"

      - name: "Copy .dll in output (Windows)"
        if: runner.os == 'Windows'
        run: cp -Force ./crates/target/release/*.dll ./output/INOX/bin/
          
      - name: "Copy .exes in output (Windows)"
        if: runner.os == 'Windows'
        run: cp -Force ./crates/target/release/*.exe ./output/INOX/bin/
      
      - name: "Upload artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: output-binaries-${{ matrix.os }}
          path: output/
